<div id="content-div" class="row">
  <div id="hist-main" class="hist-col">
    history here
  </div>
  <div id="main-col" class="main-col">
    <div id="search-div">
      main col
    </div>
    <div id="tree-canvas">
  </div>


  </div>
</div>
