:root {
  --color-light-grey: #dddddd;
  --main-form-border-color: #777777;
  --main-form-label-color: #777777;
  --main-form-background-color: #ffffff;
  --main-nav-background-color: #43a2ca;
  --main-form-text-color: var(--main-form-border-color);
  --main-body-background-color: #ffffff;
  --color-purple: #c994c7;
  --color-blue: #045a8d;
  --container-border-radius: 3px;
}

.history-url:hover {
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.history-url {
  color: var(--color-light-grey);
}


.purpleBackground {
  background-color: var(--main-purple);
}

.artboard {
  fill-opacity: .10;
}


html, body {
  font-family: sans-serif;
  height: 90%;
  font-size: 14px;
  background-color: var(--main-body-background-color);

}


#google-user-img {
  width: 25px;
  height: 25px;
}

.leaflet-control-attribution {
  display: none;
}

.row {
  width: 100%;
}

.right {
  float: right;
}

.nav-logo {
  color: #ffffff;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.logo-text {
  text-shadow: 0px 0px 3px rgb(0, 0, 0, .4);
}

.nav-bar {
  background-color: var(--color-blue);
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  margin: 4px 0;
  border-radius: var(--container-border-radius);
  box-shadow: 0px 0px 1px var(--main-nav-background-color);
}


#logon-btn, #logout-btn:hover {
  color: #ffffff;
  background: rgb(255, 255, 255, 0.2);
} 

#logon-btn:hover, #logout-btn {
  background: #ffffff;
  color: var(--main-nav-background-color);
}

.btn {
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
  display: block;
  border-radius: 5px;
  vertical-align: middle;
}
.btn:hover {
  font-weight: 500;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, .2);
  cursor: pointer;
}

select:hover {
  cursor: context-menu;
}


.hist-col {
  background-color: var(--color-purple);
  color: #ffffff;
  width: 250px;
  max-height: 100%;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  float: left;
  border-radius: var(--container-border-radius);
  margin: 10px 0px 10px 0px;
  box-shadow: 0px 0px 1px var(--color-purple);
}

#content-div {
  height: 100%;
}

.main-col {
  height: 100%;
  float: right;
  width: calc(100% - 250px);
}

.form-div {
  padding: 0px;
  box-sizing: border-box;
}

.form-item {
  float: left;
  margin: 10px;
}

.search-lbl {
  color: var(--main-form-label-color);
  font-style: italic;
  font-weight: 600;
  margin: 0 0 5px 0;
}

select {
  -webkit-appearance: none; 
  -moz-appearance: none;
}

input, select, button {
  padding: 6px 4px;
  font-size: 12px;
  border: 1px solid var(--main-form-border-color);
  border-radius: 5px;
  background: var(--main-form-background-color);
  appearance: none;
  color: var(--main-form-text-color);
}

input:hover, select:hover {
  box-shadow: 1px 1px 4px rgb(0, 0, 0, .4)
}

#search-submit-btn {
  color: var(--main-form-background-color);
  background: var(--main-form-text-color);
}

#search-submit-btn:hover {
  background: var(--main-form-background-color);
  color: var(--main-form-text-color);

}

#url-text {
  min-width: 300px;
}

#key-word {
  min-width: 200px;
}

#steps-int {
  min-width: 50px;
}

#search-type {
  min-width: 100px;
}

#search-type {
  width: 50px;
}

#tree-canvas {
  float: clear;
}


.node {
  fill: #666666;
  fill-opacity: .90;
  stroke: #ffffff;

}

.node-event {
  fill-opacity: 0;
}

input, label {
  display: block;
}

.node-text {
  text-anchor: middle;
  dominant-baseline: central;
  font-weight: bold;
  font-family: courier;
  font-size: 7;

}

.legand-text {
  dominant-baseline: central;
  font-weight: bold;
  font-family: courier;
  font-size: 7;

}

.node-text:hover {
  cursor: pointer;

}

.detail-text {
  dominant-baseline: central;
  fill: #31a354;

}

.edge {
  fill-opacity: 0;
  stroke: #ffffff;
  stroke-linecap: round;
}

#test-data-btns {
  display: none;
}

hr {
    overflow: visible;
    height: 10px;
    border-style: solid;
    border-color: lightGray;
    border-width: 1px 0 0 0;
    border-radius: 8px;
}
hr:before { 
    display: block;
    content: "";
    height: 10px;
    margin-top: -11px;
    border-style: solid;
    border-color: lightGray;
    border-width: 0 0 1px 0;
    border-radius: 8px;
}
