


nav {
  background: blue;
  padding: 20px 10px;
}

nav ul {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
}

nav a {
  color: #ffffff;
  font-size: 18px;
  background: rgb(255, 255, 255, 0.2);
  text-decoration: none;
  padding: 10px;
  display: block;
}

